
*{
    margin:0;
    padding:0;
}

.sky{
    width:100%;
    background: blue;
    height:60%;
    position:absolute;
}
.ground{
    position: absolute;
    width:100%;
    background:green;
    height:40%;
}