
*{
    margin:0;
    padding:0;
}
:root{
    --skyColor: rgb(196, 228, 253);
    --gdColor:rgb(148, 190, 89);
}
.sky{
    width:100%;
    background:linear-gradient(var(--skyColor),#fff);
    height:60%;
    position:absolute;
}
.ground{
    bottom:0;
    position: absolute;
    width:100%;
    background:linear-gradient(#fff,var(--gdColor));
    height:40%;
}
.rabbit{
    width: 210px;
    height: 200px;
    background:url(../images/rabbit.png) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom:50px;
    right:200px;
    z-index:3;
}
.cloud{
    position: absolute;
    background-color: #fff;
    width: 80px;
    height: 100px;
    border-radius:60%;
}
.cloud::before{
    position: absolute;
    content:"";
    display:block;
    background: #fff;
    width: 150px;
    height: 50px;
    border-radius:40px 20px 30px 10px;
    top:50px;
    left:-40px;
}
.cloud::after{
    position: absolute;
    content:"";
    display:block;
    background: #fff;
    width: 40px;
    height: 50px;
    border-radius:50%;
    top:40px;
    left:70px;
}
.cloud:nth-child(1){
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
    top:100px;
    left:500px;
    opacity: 0.5;
}
.cloud:nth-child(2){
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
    top:50px;
    left:700px;
    opacity: 0.6;
}
.cloud:nth-child(3){
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    top:120px;
    left:300px;
    opacity: 0.7;
}
.cloud:nth-child(4){
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
         -o-transform: scale(0.6);
            transform: scale(0.6);
    top:170px;
    left:800px;
    opacity: 1;
}
.cloud:nth-child(5){
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
    top:200px;
    left:1000px;
    opacity: 0.8;
}