
*{
    margin:0;
    padding:0;
}
:root{
    --skyColor: rgb(196, 228, 253);
    --gdColor:rgb(148, 190, 89);
}
.sky{
    width:100%;
    background:linear-gradient(var(--skyColor),#fff);
    height:60%;
    position:absolute;
}
.ground{
    bottom:0;
    position: absolute;
    width:100%;
    background:linear-gradient(#fff,var(--gdColor));
    height:40%;
}
.rabbit{
    background:url(../images/rabbit.png);
    position: absolute;
    bottom:50px;
    right:200px;
    z-index:1;
}