.hospitalDetail{
    height: 260px;
    background:#f7f7f7;  
    margin-top:32px;
    /* padding-left:250px */
    padding:0 25px;
    position: relative;
    box-sizing:border-box;
}
.hospitalDetail .hospitalDetail-title{
    font-size:18px;
    height: 52px;
    line-height: 52px;
    border-bottom:1px solid #e2e2e2;
}
.hospitalDetail .hospitalDetail-title .focus{
    color:#f9a533;
    font-size:13px;
    margin-left:12px;
}
.hospitalDetail .hospitalDetail-title .hospitalDetail-title-info{
    float:right;
    font-size:14px;
}
.hospitalDetail .hospitalDetail-title .hospitalDetail-title-info .header{
    color:#0205ff;
    margin-left:15px;
}
.hospitalDetail-content{
    padding:22px 290px 0 230px;
    position: relative;
}
.hospitalDetail-content img{
    position: absolute;
    left:0;
    top:12px;
    width: 200px;
    height: 150px;
}
.hospitalDetail-content img:nth-child(2){
    width: 255px;
    height: 165px;
    left:auto;
    right:0;
}
.hospitalDetail .hospitalDetail-content .website,
.hospitalDetail .hospitalDetail-content .phone,
.hospitalDetail .hospitalDetail-content .message,
.hospitalDetail .hospitalDetail-content .address{
    background: url(../img/icon-web.png) 0 0 no-repeat;
    
    padding-left:25px;
    font-size:13px;
    line-height: 19px;
    height:17px;
    margin-bottom:15px;
    color:#888;
}
.hospitalDetail .hospitalDetail-content .website{
    background-position:0 -21px;
}
.hospitalDetail .hospitalDetail-content .phone{
    background-position: 0 -42px;
}
.hospitalDetail .hospitalDetail-content .message{
    background-position: 0 -63px;
}
/* 内容切换栏区域 */
.order-content{
    margin:40px 0;
    padding:0;

}
.order-content-tab{
    /* width: 1000px; */
    width: 100%;
}
