.hospitalDetail{
    height: 260px;
    background:#f7f7f7;  
    margin-top:32px;
    /* padding-left:250px */
    padding:0 25px;
}
.hospitalDetail .hospitalDetail-title{
    font-size:18px;
    height: 52px;
    line-height: 52px;
    border-bottom:1px solid #e2e2e2;
}
.hospitalDetail .hospitalDetail-title .focus{
    color:#f9a533;
    font-size:13px;
    margin-left:12px;
}
.hospitalDetail .hospitalDetail-title .hospitalDetail-title-info{
    float:right;
    /* margin-top:0px; */
    font-size:14px;
}
.hospitalDetail .hospitalDetail-title .hospitalDetail-title-info .header{
    color:#0205ff;
}
