.scheduling{
    width: 1000px;
    height: 390px;
    background: skyblue;
    overflow: hidden;
}
.scheduling .left{
    height: 325px;
    width: 40px;
    position: absolute;
    left:0;
    top:0;
    background: #000;
}
.scheduling .right{
    height: 325px;
    width: 40px;
    position: absolute;
    right:270px;
    top:0;
    background: #000;
}
.scheduling .rule{
    width: 270px;
    height: 325px;
    position: absolute;
    right:0;
    top:0;
    background: #666;
}
.scheduling .bottom{
    height: 65px;
    width: 100%;
    background:yellow;
    position: absolute;
    bottom:0;
    text-align: center;
    line-height: 65px;;
}
.scheduling .bottom img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}