.scheduling{
    width: 1000px;
    height: 390px;
    background: skyblue;
}
.scheduling .left{
    height: 325px;
    width: 40px;
    position: absolute;
    left:0;
    top:0;
    background: #000;
}
.scheduling .rule{
    width: 270px;
    height: 325px;
    position: absolute;
    right:0;
    top:0;
    background: #666;

}