.scheduling{
    /* width: 996px; */
    height: 417px;
    overflow: hidden;
    /* display: inline-block; */
    position: relative;
    background:lightyellow;
    margin-top:100px;
    border:1px solid red;
}
.scheduling .con-left{
    width: 34px;
    height: 300px;
    background:skyblue;
    border:1px solid #ccc;
    /* float: left; */
    position: ab;
    margin:-1px 0 0 -1px;
}
.scheduling .con-middle{
    display: inline-block;
    border:1px solid #ccc;
}
.scheduling .con-middle .schedule-item{
    display: inline-block;
}
.scheduling .rule{
    border:1px solid #ccc;
    height: 300px;
    
}
.scheduling .rule .rule-caption{
    background: #fff;
}
.scheduling .rule .rule-content{
    height: 300px;
}