*{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    height: 2000px;
    font-family:Microsoft YaHei UI;
}
a{
    text-decoration: none;
}
.clearfix:after{
    content:"";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}
/* 顶部区域 */
header{
    height: 95px;
    width: 100%;
    background: #2e2e2e;
}
header > .container{
    width: 1600px;
    margin:0 auto;
    line-height: 95px;
}
header > .container > a.logo{
    float: left;
    margin-top:7px;
}
header > .container > nav{
    float:right;
}
header > .container > nav > a{
    float: left;
    color:#fff;
    margin-left:50px;
}
/* banner区域 */
.banner{
    height: 675px;
    width: 100%;
    background:url(../img/banner.jpg) no-repeat center;
    background-size: cover;
}
/* Portfolio区域 */
.Portfolio{
    width: 100%;
    height: 410px;
}
.Portfolio > .container{
    width: 700px;
    margin:0 auto;
    text-align: center;

}
.Portfolio > .container > aside >h1{
    color:#f46208;
    font-size:34px;
    font-weight:500;
    margin:110px 0 50px;
}
.Portfolio > .container > article >p{
    font-size:14px;
    font-weight: 500;
    margin-bottom:72px;
    line-height: 1.5em;
}
.Portfolio > .container > article > ul.keyWord{
    display: inline-block;
}
.Portfolio > .container > article > ul.keyWord >li{
    float: left;
    /* width: 60px; */
    height: 40px;
    border:1px solid #f46208;
    text-align: center;
    line-height: 40px;
    margin:0 16px;
    font-size:16px;
    padding:0 10px;
    color:#f46208;
}
.Portfolio > .container > article > ul.keyWord >li:hover{
    background: #f46208;
    color:#fff;
    cursor: pointer;
}
.portfolio-nav{
    background: url(../img/portfolio-nav-img.jpg) no-repeat center;
    background-size: cover;
    height: 560px;
    width: 100%;
}
/* TEAM区域 */
.Team{
}